<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5ec4630b2ba94fe49e8322a7d145fe49" style="width:900px; height:500px;"></div>
    <script>
        var chart_5ec4630b2ba94fe49e8322a7d145fe49 = echarts.init(
            document.getElementById('5ec4630b2ba94fe49e8322a7d145fe49'), 'white', {renderer: 'canvas'});
        var option_5ec4630b2ba94fe49e8322a7d145fe49 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5404\u5de5\u8d44\u533a\u95f4\u6743\u91cd",
            "data": [
                2,
                5,
                46,
                25,
                15,
                2
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5404\u5de5\u8d44\u533a\u95f4\u6743\u91cd"
            ],
            "selected": {
                "\u5404\u5de5\u8d44\u533a\u95f4\u6743\u91cd": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "3K\u4ee5\u4e0b",
                "3-5K",
                "5-10K",
                "10-15K",
                "15-20K",
                "20-25K"
            ]
        }
    ],
    "title": [
        {
            "text": "\u5de5\u8d44\u5206\u5e03\u533a\u95f4\u56fe",
            "subtext": "\u897f\u5b89"
        }
    ]
};
        chart_5ec4630b2ba94fe49e8322a7d145fe49.setOption(option_5ec4630b2ba94fe49e8322a7d145fe49);
    </script>
</body>
</html>
