<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5ca72520c4324d088438b67522e921db" style="width:900px; height:500px;"></div>
    <script>
        var chart_5ca72520c4324d088438b67522e921db = echarts.init(
            document.getElementById('5ca72520c4324d088438b67522e921db'), 'white', {renderer: 'canvas'});
        var option_5ca72520c4324d088438b67522e921db = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4e0d\u9650",
            "data": [
                1,
                2,
                22,
                7,
                5,
                3,
                6,
                1,
                0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            }
        },
        {
            "type": "bar",
            "name": "\u5e94\u5c4a",
            "data": [
                0,
                1,
                0,
                1,
                2,
                0,
                0,
                0,
                0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            }
        },
        {
            "type": "bar",
            "name": "1\u5e74\u4ee5\u4e0b",
            "data": [
                0,
                1,
                1,
                1,
                1,
                2,
                1,
                0,
                0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            }
        },
        {
            "type": "bar",
            "name": "1-3\u5e74",
            "data": [
                0,
                0,
                7,
                22,
                23,
                19,
                7,
                0,
                0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            }
        },
        {
            "type": "bar",
            "name": "3-5\u5e74",
            "data": [
                0,
                0,
                0,
                12,
                34,
                41,
                52,
                0,
                0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            }
        },
        {
            "type": "bar",
            "name": "5-7\u5e74",
            "data": [
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            }
        },
        {
            "type": "bar",
            "name": "5-10\u5e74",
            "data": [
                0,
                0,
                0,
                3,
                5,
                11,
                34,
                0,
                0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            }
        },
        {
            "type": "bar",
            "name": "10\u5e74",
            "data": [
                0,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0d\u9650",
                "\u5e94\u5c4a",
                "1\u5e74\u4ee5\u4e0b",
                "1-3\u5e74",
                "3-5\u5e74",
                "5-7\u5e74",
                "5-10\u5e74",
                "10\u5e74"
            ],
            "selected": {
                "\u4e0d\u9650": true,
                "\u5e94\u5c4a": true,
                "1\u5e74\u4ee5\u4e0b": true,
                "1-3\u5e74": true,
                "3-5\u5e74": true,
                "5-7\u5e74": true,
                "5-10\u5e74": true,
                "10\u5e74": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "3K\u4ee5\u4e0b",
                "3-5K",
                "5-10K",
                "10-15K",
                "15-20K",
                "20-25K",
                "25-50K",
                "50-100K",
                "100K\u4ee5\u4e0a"
            ]
        }
    ],
    "title": [
        {
            "text": "\u7ecf\u9a8c\u5de5\u8d44\u5206\u5e03\u56fe",
            "subtext": "\u5317\u4eac"
        }
    ]
};
        chart_5ca72520c4324d088438b67522e921db.setOption(option_5ca72520c4324d088438b67522e921db);
    </script>
</body>
</html>
