<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="e606ce678b9342f7815e247856ddb700" style="width:900px; height:500px;"></div>
    <script>
        var chart_e606ce678b9342f7815e247856ddb700 = echarts.init(
            document.getElementById('e606ce678b9342f7815e247856ddb700'), 'white', {renderer: 'canvas'});
        var option_e606ce678b9342f7815e247856ddb700 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u4e0d\u77e5\u9053\u662f\u5565",
            "data": [
                {
                    "name": "\u5317\u4eac",
                    "value": 21.764880952380953
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": 17.469849246231156
                },
                {
                    "name": "\u5e7f\u5dde",
                    "value": 14.800194552529181
                },
                {
                    "name": "\u6df1\u5733",
                    "value": 17.335260115606935
                },
                {
                    "name": "\u676d\u5dde",
                    "value": 18.22530864197531
                },
                {
                    "name": "\u6b66\u6c49",
                    "value": 15.952898550724637
                },
                {
                    "name": "\u897f\u5b89",
                    "value": 10.893617021276595
                },
                {
                    "name": "\u90d1\u5dde",
                    "value": 10.177083333333334
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": 12.2
                }
            ],
            "sort": "descending",
            "gap": 0,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0a\u6d77",
                "\u91cd\u5e86",
                "\u5e7f\u5dde",
                "\u676d\u5dde",
                "\u897f\u5b89",
                "\u5317\u4eac",
                "\u6df1\u5733",
                "\u6b66\u6c49",
                "\u90d1\u5dde"
            ],
            "selected": {
                "\u5317\u4eac": true,
                "\u4e0a\u6d77": true,
                "\u5e7f\u5dde": true,
                "\u6df1\u5733": true,
                "\u676d\u5dde": true,
                "\u6b66\u6c49": true,
                "\u897f\u5b89": true,
                "\u90d1\u5dde": true,
                "\u91cd\u5e86": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4e3b\u8981\u57ce\u5e02\u85aa\u8d44\u5bf9\u6bd4",
            "subtext": "\u672c\u79d1"
        }
    ]
};
        chart_e606ce678b9342f7815e247856ddb700.setOption(option_e606ce678b9342f7815e247856ddb700);
    </script>
</body>
</html>
